<div class="container mt-5">
    <h3 class="mb-3">Create a New Account</h3>
    
    <div class="mb-2"><input class="form-control" type="text" placeholder="Username" [(ngModel)]="user.username"></div>
    <div class="mb-2"><input class="form-control" type="password" placeholder="Password" [(ngModel)]="user.password"></div>
    <div class="mb-2"><input class="form-control" type="text" placeholder="Full Name" [(ngModel)]="user.name"></div>
    <div class="mb-2"><input class="form-control" type="email" placeholder="Email" [(ngModel)]="user.email"></div>
    <div class="mb-2"><input class="form-control" type="text" placeholder="Phone" [(ngModel)]="user.phone"></div>
    <div class="mb-2"><input class="form-control" type="text" placeholder="Address" [(ngModel)]="user.address"></div>
    <div class="mb-2"><input class="form-control" type="text" placeholder="City" [(ngModel)]="user.city"></div>
    <div class="mb-2"><input class="form-control" type="text" placeholder="Credit Card Number" [(ngModel)]="user.creditCardNumber"></div>
  
    <button class="btn btn-success mt-3" (click)="signUp()">Sign Up</button>
  </div>  