<div class="container mt-5" style="max-width: 400px;">
    <h3 class="text-center mb-4">Admin Login</h3>
    <form (ngSubmit)="onLogin()" #loginForm="ngForm">
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input
          type="text"
          id="username"
          name="username"
          class="form-control"
          required
          [(ngModel)]="username"
        />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          id="password"
          name="password"
          class="form-control"
          required
          [(ngModel)]="password"
        />
      </div>
      <button type="submit" class="btn btn-primary w-100">Login</button>
    </form>
  </div>
  